html, input {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 12px;
    overflow-x: hidden;
    white-space: pre-wrap;
    background-color: black;
    color: white;
    font-weight: normal;
    line-height: 1.5
}

body {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: auto;
    margin: 0;
    padding: 0;
    top: 2%;
    left: 2%;
}

#ui {
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
}

#userField {
    border: 0px;
    width: 90%;
    padding: 0;
    margin: 0;
    display: inline-block;
}

*:focus {
    outline: none;
}

span.limeColor {
    color: lime;
}

.sectionHeading {
    color: yellow;
    margin: 0.5% 0;
}

.subSection {
    margin: 0.5% 2%;
}

.subSectionHeading {
    color: LightGoldenRodYellow;
    margin: 0.5% 2%;
}

.subSectionBody {
    margin: 1% 4%;
}

.subSectionBodyCategory {
    margin: 0.7% 0;
}

.subSectionBodySubCategory {
    margin: 0.7% 2%;
    font-style: italic;
}

.subSectionBodySubCategoryA {
    margin: 0;
    font-style: normal;
}
.subSectionBodySubCategoryBody {
    margin: 0.2% 2%;
    font-style: normal;
}
span.italic {
    font-style: italic;
}

span.bold {
    font-weight: bold;
}

a {
    color: white;
    text-decoration: none;
}
